.background-sections {
    height: 60vh;
    background: url(https://www.scdn.co/i/free/bubbles-dktp.svg) center -198px / 100% 1068px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
    background-repeat: no-repeat;
}
.background-sections h1{
    font-size: 8vh;
    position: relative;
    top: 20vh;
    color: white;
    font-weight: 700;
}
.buttn{
    height: 7vh;
    width: 15vw;
    border-radius: 4vh;
    margin-top: 25vh;
    border: none;
    background-color: white;
    font-weight: 500;
    margin-left: -4vw;
    font-size: 2.5vh;
}
.buttn:hover{
    height: 7.2vh;
    width: 15.2vw;
    border-radius: 4vh;
    margin-top: 25vh;
    border: none;
    background-color: white;
    font-weight: 500;
    margin-left: -4vw;
    font-size: 2.7vh;
}